html {
  font-family: 'Ranchers';
  font-style: 'regular';
}

body {
  margin: 0;
  text-align: center;
}

h1 {
  margin: 0 auto 0 auto;
  font-size: 5.625rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: normal;
}

.container-top {
  margin: 10px 0 0 0;
}

.container {
  overflow: hidden;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

#myBtnContainer {
  text-align: center;
}

.btn:focus {
  color: white;
  background-color: blue;
}

/* Style the active class (and buttons on mouse-over) */
btn.active {
  background-color: blue;
  color: white;
}

.btn:hover {
  background-color: dodgerblue;
  color: white;
}


.btn{
  margin: 10px 5px;

}

.card {
  float: left;
  background-color: white;
  color: black;
  width: 20rem;
  margin: 50px 10px;
  display: none;
}

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

.card-title {
  text-align: center;
}

.vibe-description {
  text-align: center;
}

.column {
  padding: 20px 20px;
  display: inline-block;
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

.emoji {
  font-size: 20px;
  text-align: center;
}

.item-title {
  font-size: 20px;
  font-weight: bolder;
}

.card-body {
  text-align: center;
}

.item-description {
  font-family: 'Caveat';
  font-style: 'regular';
}

.jumbotron {
  text-align: center;
  position: relative;
  padding: 20px;
}

hr {
  width: 50%;
}

.vibe-row {
  width: 80%;
  margin: 80px;
  text-align: left;
}

.vibe-images {
  width: 20%;
  padding: 0 0 10px 0;
}


.contact-me {
  width: 100%;
  margin: auto;
  text-align: center;
}

.headshot {
  width: 10%;
  float: left;
  margin-right: 30px;
  padding: 0 0 10px 0;
}

.fab, .far {
  color: darkgrey;
}
